<!DOCTYPE html>
<html 
    lang="en"
    class="light-style"
    dir="ltr"
    data-theme="theme-default"
    data-assets-path="../../assets"
    data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PlanCorp</title>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/assets/img/favicon/favicon.ico" />
    @Html.Raw(JavaScriptSnippet.FullScript)

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet"
    />

    <base href='@Url.Content("~/")'>
    @Html.Partial("_StylesPartial")
    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="~/assets/vendor/fonts/boxicons.css" />
    <!-- Styles -->
    <link rel="stylesheet" href="~/css/custom.css" />
    <link rel="stylesheet" href="~/css/MyStyle.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="~/assets/vendor/css/core.css"/>
    <link rel="stylesheet" href="~/assets/vendor/css/theme-default.css" />
    <link rel="stylesheet" href="~/assets/css/demo.css" />
    <!-- Vendors CSS -->
    @*<link rel="stylesheet" href="~/lib/sweetalert2/sweetalert2.min.css" />*@
    @*<link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />*@
    <link rel="stylesheet" href="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/apex-charts/apex-charts.css" />
    <!-- Helpers -->
    <script src="~/assets/vendor/js/helpers.js"></script>
    <script src="~/assets/js/config.js"></script>
     <script src="~/assets/vendor/libs/jquery/jquery.js"></script>
    @await RenderSectionAsync("Styles", required: false)
   <script type="text/javascript">
       var currentUrl = '@Context.Request.Path';
       var baseFolder = $('base').attr('href');
       var baseUrl = document.baseURI.slice(0,-1);
       var href='@Url.Content("~/")';
    </script>
</head>
<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->
            @Html.Partial("_Sidebar")
            <!-- Layout container -->
            <div class="layout-page">
                <!-- Navbar -->
                @Html.Partial("_Navbar")
                <!-- Content wrapper -->
                <div class="content-wrapper">
                    <!-- Content -->
                    @RenderBody()
                    <!-- Footer -->
                    @Html.Partial("_Footer")
                    <div class="content-backdrop fade"></div>
                </div>
                <!-- Overlay -->
                <div class="layout-overlay layout-menu-toggle"></div>
            </div>
            <!-- / Layout page -->
        </div>
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>

    @Html.Partial("_Loading")
    <!-- Vendor JS -->
   
    <script src="~/assets/vendor/libs/popper/popper.js"></script>
    <script src="~/assets/vendor/js/bootstrap.js"></script>
    <script src="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/assets/vendor/libs/hammer/hammer.js"></script>
    <script src="~/assets/vendor/js/menu.js"></script>
    <script src="~/assets/vendor/libs/apex-charts/apexcharts.js"></script>
    @*<script src="~/assets/js/ui-popover.js"></script>*@
    
    <!-- Main JS -->
    <script src="~/assets/js/main.js"></script>
    
    @Html.Partial("_ValidationScriptsPartial");
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- Page JS -->
    <script src="~/assets/js/dashboards-analytics.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
